__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
.venv
env/
venv/
*.log
alleleselect_output/
*_output/
!demo/R192Q_output/
*.nhr
*.nin
*.nsq
*.nsi
*.nsd
*.nos
*.not
*.ntf
*.nto
.pytest_cache/
.DS_Store
my_*/
.idea/
*.ps
**/SETUP.md